{% extends "base.html" %}

{% block body %}
<!-- Navbar -->
<div class="top">
    <div class="bar theme-nav top left-align large">
      <a class="bar-item button right hide-large hover-w large theme-btn" href="javascript:void(0)" onclick="open()"><i class="fa fa-bars"></i></a>
      <a href="/home" class="bar-item button hide-small hover-w">Home</a>
      <a href="/analysis" class="bar-item button hide-small hover-w">Analysis</a>
      <a href="/youtube" class="bar-item button theme-btn">Youtube</a>
      <a href="/about" class="bar-item button hide-small hover-w">About</a>
    </div>
  </div>
    
  <!-- Main -->
  <div class="main">
  
    <div class="row padding-64">
        <h1 class="text-teal" style="text-align:center">Demonstration Video</h1>
        <iframe height="650" class="center" 
        src="https://www.youtube.com/embed/7l91CaYvbdI?autoplay=1&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe> 
    </div>
  
    <!-- Footer -->
    <footer id="footer">
      <div class="container theme-footer padding-32">
        <h4><a href="/"> Home | </a> <a href="/analysis"> Analysis | </a> <a href="/youtube"> Youtube | </a> <a href="/about"> About </a></h4>
      </div>
  
      <div class="container theme-btn">
        <p>Powered by 2022 COMP90024 Group2</a></p>
      </div>
    </footer>
  
  <!-- END MAIN -->
  </div>

{% endblock %}